{% extends 'layout.liquid' %}
{% block content %}
<div class="row">
    <div class="alert alert-block text-center">
        <h4>Puny earthling. Did you really think you could find {{ url.href }}?</h4>
        <img class="img-circle" src="img/logo.png" width="48" height="48">
        <h3>404</h3>
        </div>
    </div>
</div>
{% endblock %}