{% extends 'layout.liquid' %}
{% block content %}
<div class="row">
    <div class="alert alert-block %>">
        <h3>404</h3>
            <h4>Puny earthling. Did you really think you could find {{ url.href }}?</h4>
        </div>
    </div>
</div>
{% endblock %}