{% extends 'layout.liquid' %}
{% block content %}
    <div class="col-lg-6" id="bosco">
      <img class="img-circle" src="img/bosco.png" width="140" height="140">
      <h2>Bosco</h2>
      <p>I found Bosco in a dinette in building 8, shortly after he escaped from BillG's office. Your typical insane office hologram, Bosco likes to spend his spare time watching TJ Hooker reruns on his internal vid circuits. </p><p>After memorizing all 91 episodes, Bosco was heard to say "I've seen the past, gentlemen, and it works."</p>
      <p><a class="btn btn-info" href="http://talesofbosco.tumblr.com/" role="button">Tales of Bosco &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="row" id="d16a">
      <div class="col-lg-6">
        <img class="img-circle" src="img/logo.png" width="140" height="140">
        <h2>Dark Overlord of Data</h2>
        <p>Overlord, over pedantic, over everything - the Dark-O was sent by the Lords of Arcturus to subjugate earth. But instead, the Dark-O forged an alliance with the terrans to repel the Arcturan forces. After a short, unglorious battle, the terrans lost. But the Arcturans, after determining that the terrans were not very useful, departed, leaving the Dark-O behind in exile. </p>

        <p>The Dark-O soon found that the terrans were already subjugated by an even larger earth species who called themselves Humans. Realizing that it had all been a big mistake, the Dark-O quickly assimilated with the humans, got a job, and began subjugating <a href="https://www.google.com/search?q=kittens&es_sm=122&tbm=isch&tbo=u&source=univ&sa=X&ei=xwc9VePIB5L0oATQ5IHIAQ&ved=0CB4QsAQ&biw=1366&bih=655">furry little terrans</a> of his own.</p>


        <p><a class="btn btn-info" href="http://d16a.blogspot.com/2014/05/the-programmer-dream.html" role="button">Blog &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <hr class="featurette-divider">

    <div class="row featurette" id="katra">
      <div class="col-md-7">
        <h2 class="featurette-heading"><a href="https://darkoverlordofdata.com/katra/">Katra basic</a></span></h2>
        <blockquote>katra  &middot; the vulcan word for soul or spirit</blockquote>
        </p>
        <p>Katra was written to run classic games from the golden age
          of basic programming. Games like you could read about in Creative Computing,
          or Byte Magazine. Mostly, games like StarTrek...</p>
        <p>
          <a href="https://darkoverlordofdata.com/katra/help/">Katra</a> is a basic language interpreter for the web.
        </p>
      </div>
      <div class="col-md-5"><a href="/katra/run">
        <img class="featurette-image img-responsive img-rounded center-block" src="assets/basic.png" alt="Generic placeholder image">
      </a>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" id="katra">
      <div class="col-md-7">
        <h2 class="featurette-heading">Game*O*Rama</h2>
        <p>Built with <a href="http://hapijs.com/">Hapi</a>, Firebase and Liquid.Coffee templates

        </p>
      </div>
    </div>

    <hr class="featurette-divider">
{% endblock %}