{% extends 'fb-layout.liquid' %}
{% block content %}
  <div class="row marketing">
    <div class="col-lg-6">
      <a href="/katra/sttr1"><img src="assets/sttr1.png" class="img-responsive img-rounded center-block"></a>
    </div>
    <div class="col-lg-6">
      <a href="/katra/wumpus"><img src="assets/wumpus.png" class="img-responsive img-rounded center-block"></a>
    </div>
  </div>
  <div class="row marketing">
    <div class="col-lg-6">
      <a href="/katra/eliza"><img src="assets/eliza.png" class="img-responsive img-rounded center-block"></a>
    </div>
    <div class="col-lg-6">
      <a href="/katra/oregon"><img src="assets/oregon.png" class="img-responsive img-rounded center-block"></a>
    </div>
  </div>
{% endblock %}