{% extends 'layout.liquid' %}
{% block content %}

    <div class="row featurette" id="terms">
      <div class="col-md-7">
        <h2 class="featurette-heading">Privacy</h2>
        <p>
            This website does not collect any personal data.
        </p>
      </div>
    </div>

    <hr class="featurette-divider">
{% endblock %}