{% extends 'layout.liquid' %}
{% block content %}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="row featurette" id="terms">
      <div class="col-md-12">
        <h2 class="featurette-heading">Terms and Conditions</h2>
        <p>You are free to play any of the games on this site.</p>
        <p>Dark Overlord of Data takes no responsibility for the results of playing any game on this site.
        </p>
      </div>
    </div>

    <hr class="featurette-divider">
{% endblock %}